<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap-validator/css/bootstrapValidator.css">
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="lt-aside">
    <div class="brand"><a href="#">黑马24期</a></div>
    <div class="user">
        <img src="images/default.png" alt="">
        <p>超级管理员</p>
    </div>
    <div class="nav">
        <ul>
            <li class="user-manage"><a href="user.html"><i class="glyphicon glyphicon-user"></i> 用户管理</a></li>
            <li class="category"><a href="javascript:;"><i class="glyphicon glyphicon-list"></i> 分类管理</a>
                <ul class="sub-category">
                    <li><a href="category_1.html">一级分类</a></li>
                    <li><a href="category_2.html">二级分类</a></li>
                </ul>
            </li>
            <li class="product active"><a href="product.html"><i class="glyphicon glyphicon-tags"></i> 商品管理</a></li>
        </ul>
    </div>
</div>
<div class="lt-main">
    <div class="lt-top-bar clearfix">
        <a href="#" class="menu pull-left" ><i class="glyphicon glyphicon-align-justify"></i></a>
        <a href="#" class="logout pull-right"><i class="glyphicon glyphicon-log-out"></i></a>
    </div>
    <div class="lt-content">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="manage"><a href="index.html">管理系统</a></li>
                <li class="active">商品管理</li>
            </ol>

            <button class="btn btn-default">添加商品</button>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>商品描述</th>
                        <th>商品库存</th>
                        <th>商品尺寸</th>
                        <th>商品状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="pull-right">
                <ul id="pagintor"></ul>
            </div>

        </div>
    </div>
</div>

<script type="text/html" id="template">
    {{ each rows row i}}
    <tr>
        <td>{{ i+1 }}</td>
        <td>{{ row.proName }}</td>
        <td>{{ row.proDesc }}</td>
        <td>{{ row.num }}</td>
        <td>{{ row.size }}</td>
        <td>{{ row.statu === 1 ? "已上架":"已下架"}}</td>
        <td data-id="{{ row.id }}" data-status="{{ row.statu }}">
            {{ if row.statu === 1 }}
            <button class="btn btn-danger">下架</button>
            {{ /if }}
            {{ if row.statu === 0 }}
            <button class="btn btn-success">上架</button>
            {{ /if }}
        </td>
    </tr>
    {{ /each }}

</script>

<script src="lib/jquery/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/bootstrap-validator/js/bootstrapValidator.js"></script>
<script src="lib/bootstrap-paginator/bootstrap-paginator.js"></script>
<script src="js/product.js"></script>
<script src="js/common.js"></script>
</body>
</html>