<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap-validator/css/bootstrapValidator.css">
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
<div class="lt-aside">
    <div class="brand"><a href="#">黑马24期</a></div>
    <div class="user">
        <img src="images/default.png" alt="">
        <p>超级管理员</p>
    </div>
    <div class="nav">
        <ul>
            <li class="user-manage active"><a href="user.html"><i class="glyphicon glyphicon-user"></i> 用户管理</a></li>
            <li class="category"><a href="javascript:;"><i class="glyphicon glyphicon-list"></i> 分类管理</a>
                <ul class="sub-category">
                    <li><a href="category_1.html">一级分类</a></li>
                    <li><a href="category_2.html">二级分类</a></li>
                </ul>
            </li>
            <li class="product"><a href="product.html"><i class="glyphicon glyphicon-tags"></i> 商品管理</a></li>
        </ul>
    </div>
</div>
<div class="lt-main">
    <div class="lt-top-bar clearfix">
        <a href="#" class="menu pull-left" ><i class="glyphicon glyphicon-align-justify"></i></a>
        <a href="#" class="logout pull-right"><i class="glyphicon glyphicon-log-out"></i></a>
    </div>
    <div class="lt-content">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="manage"><a href="index.html">管理系统</a></li>
                <li class="active">用户管理</li>
            </ol>

            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="user-info">
                  <!--  <tr>
                        <td>1</td>
                        <td>itcast</td>
                        <td>5512551122111</td>
                        <td>正常</td>
                        <td><a class="btn btn-danger" href="#">禁用</a></td>
                    </tr>-->
                </tbody>
            </table>
            <div class="page text-right">
                <ul id="pagintor"></ul>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
               <p><i class="glyphicon glyphicon-info-sign"></i>你确定要执行此操作吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="updateUser">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/html" id="template">
    {{ each rows user i }}
    <tr>
        <td>{{ i+1 + (page-1) * size }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.isDelete === 1 ? "正常":"禁用"}}</td>
        <td data-isdelete = "{{ user.isDelete }}" data-id="{{ user.id }}">
            {{ if user.isDelete === 1}}
            <button class="btn btn-danger">禁用</button>
            {{ /if }}
            {{ if user.isDelete === 0 }}
            <button class="btn btn-success">启用</button>
            {{ /if }}
        </td>
    </tr>
    {{ /each }}
</script>


<script src="lib/jquery/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<script src="lib/bootstrap-validator/js/bootstrapValidator.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/bootstrap-paginator/bootstrap-paginator.js"></script>
<script src="js/common.js"></script>
<script src="js/user.js"></script>
</body>
</html>